{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
{{ painting.description|truncatewords:75 }}
{% endblock %}
{% block title %}
{{ painting.title }} 
{% endblock %}
{% block content %}

	<div class="row painting_row_class">
		<div class="mx-auto">   
		<div class="painting_container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
					<div style="min-width: 15rem; min-height: 15rem;">
						<br>
						<br>
						<img src="{{painting.image.url}}" alt="{{painting.title}}">
					</div>
				</div>

				<div class="col-12 col-sm-12 col-md-12 col-lg-6"> 
					<br>
					<br>
					<div>
						<h1 class="painting_title">{{painting.title}}</h1>
						<p>${{painting.price}}</p>
						<p>Description:</p>
						<p>{{painting.description}}</p>
						<br>
							<a class="btn btn-info" href="{% url 'cart:cart_add' painting.id %}">Add to Cart</a>
						<br>
						<br>
						</div>
					<div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}