{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
   {% if style %}
        {{ style.description|truncatewords:75 }}
   {% else %}
        Place Holder Title
   {% endif %}
{% endblock %}
{% block title %}
   {% if style %}
        {{ style.name }} - Place Holder
   {% else %}
        Ferguson Gallery Shop
   {% endif %}
{% endblock %}
{% block content %}
    {% if style %}
        <div>
          <div>
              <p>Place Holder</p>
          </div>
        </div>
    {% endif %}
    <div>
        {% if style %}
            <p>Place Holder </p>
    </div>
    <br>
    <div>
        <h1>{{style.name}}</h1>
        <p>{{style.description}}</p>
    </div>
    {% else %}
        <p>Place Holder</p>
    </div>
    <br>
    <div>
        <p>Place Holder</p>
    </div>
    {% endif %}
    <div>
        <div>
            {% for painting in paintings %}
            <div>
                <div>
                    <p>Place Holder</p>
                    <div>
                        <h4>{{painting.name}}</h4>
                        <p>${{painting.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}