{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="{% block metadescription %}{% endblock %}">
        <title>{% block title %}{% endblock %}Gerguson Vitrual Gallery</title>
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container">
            {% include 'header.html' %}
            {% include 'navbar.html' %}
            {% block content %}
            {% endblock %}
        </div>
            {% include 'scripts.html'%}
        <div>
                <footer class="page-footer page-custom font-small info-color fixed">
                        <br>
                        <div class="footer-copyright text-center py-3">© 2019 Ashley Ferguson Copyright</div>
                 </footer>
        </div>
    </body>
</html>