{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    {% if not add_cart_items %}
        <div>
            <div class="text-center">
                <p class="text-center page_title">
                    Your cart is empty. Click <a href="{% url 'gallery:shopByStyle' %}">here</a> to return to the gallery.
                </p>
            </div>
        </div>
    {% else %}    
        <div>
            <div class="text-center">
                <h1 class="text-center page_title">
                    <br>
                    Your Shopping Cart
                </h1>
            </div>
        </div>
    <div class="row mx-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table checkout-table">
                <thead class="checkout-table-head">
                    <tr>
                        <th>
                            Your Order: Your total is ${{ total }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for add_cart_item in add_cart_items %}
                        <tr>
                        <td>
                                <strong>Title: {{add_cart_item.painting.title}}</strong>
                                <br>
                                Id: {{add_cart_item.painting.id}}
                                <br>
                                Qty: {{add_cart_item.quantity}} | Price: ${{add_cart_item.painting.price}}
                                <br>
                                Sub Total: ${{add_cart_item.sub_total}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table checkout-table">
                    <thead class="checkout-table-head">
                    <tr>
                        <th>
                            Checkout
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Review your order and proceed to checkout. 
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="mx-auto">
                <form action="" method="POST"> 
                        {% csrf_token %}
                        <script src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button border-box"
                        data-name="Ferguson Gallery"
                        data-key="{{ data_key }}"
                        data-amount="{{ stripe_cc_total }}"
                        data-description="{{ description }}"
                        data-currency="usd"
                        data-billing-address="true"
                        data-zip-code="true"
                        ></script>
                    </script>
                </form>
                <br>
                <a href="{% url 'gallery:shopByStyle' %}" class="btn btn-info my-2 my-sm-0">Continue Shopping</a>
            </div>

        </div>
    </div>
    <br>
{% endif %}
{% endblock %}