.body {
    font-family: 'Lato', sans-serif;
}

.nav-item {
    font-size: 14px
}
.dropdown-item {
    font-size: 14px;
}

.style_rows {
    padding-top: 30px;
}
.style_rows .mx-auto p {
    color: black;
    font-size: 14px;
}
.style_rows .mx-auto p a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}
.paintings_pics {
    width: 100%;
    height: auto;
}
.style_name {
    font-size: 16px;
}
.gallery_column_margins {
    margin-bottom: 24px;
}
.card-body h4 {
    font-size: 14px;
}
/** Paintings **/
.painting_row_class {
    padding-top: 15px;
    padding-bottom: 20px;
}
.painting_row_class .mx-auto {
    color: black;
    font-size: 14px;
}
.painting_row_class .mx-auto a {
    text-decoration: none;
}
.painting_title {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.painting_description_txt {
    padding-right: 20px;
}
.search-text {
    padding-top: 20px; 
    padding-bottom: 20px;
}
/* Cart */
.checkout-table{
    font-size: 14px; 
    min-width: 400px;
}
.checkout-table-head {
    font-weight: strong;
}
.cart-images {
    width: 100px;
    height: 100px;
}
.cart_a {
    text-decoration: none;
}
.cust-icon {
    text-decoration: none;
    color: lightslategrey; 
}
.my_custom_button {
    margin-top: 5px;
    margin-bottom: 5px
}
stripe-button-el {
    display: block;
    min-width: 30px;
}